{% extends 'west_end_market/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Listing
{% endblock %}
        
{% block body_block %}
{% if category %}
    <div class="container margin-top-20">
        <div>
            <h4>Category: {{category.title}}</h4>
            <hr>
        </div>

        {% for listing in listings %}
        <div class="row margin-top-10">
            <div class="col-md-2">
                <div class="text-center">
                    <div>
                        <a href="{% url 'show_listing' listing.id %}"><img src="{{listing.picture.url}}" class="photo-fit photo-fit-mobile round-edges" alt="item image"></a>
                    </div>
                </div>
            </div>
            <div class="text-box text-box-mobile col-md-9">
                <div class="row">
                    <span><strong>Title: </strong>{{listing.title}}</span>
                </div>
                <div class="row">
                    <span><strong>Price: </strong>{{listing.price}}</span>
                </div>
                <div class="row">
                    <span><strong>Postcode: </strong>{{listing.postcode}}</span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% else %}
    There is no such category. Please check that you are at the correct url!
{% endif %}
{% endblock %}
        
        
        
        