% extends 'west_end_market/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Cookie Policy
{% endblock %}
        
{% block body_block %}
<div class="container">
    <h2>Cookie Policy</h2>
    <p align="justify"><strong>What are cookies?</strong></p>
    <p align="justify">Our website uses cookies. A cookie is a small text file which is stored on your computer, tablet or phone when you visit a website. These cookies allow us to distinguish you from other users of our website. This helps us to provide you with a good experience when you browse our website and also allows us to improve our website.</p>
    <p align="justify"><strong>There are two main types of cookies:</strong></p>

    <ul>
        <li>session cookies: these are deleted when you finish browsing a website and are not stored on your computer longer than this;</li>
        <li>persistent cookies: these are stored on your computer after you have finished using a website so that the website provider can remember your preferences the next time you use it.</li>
    </ul>
    <p align="justify">Cookies can be set by the website you have browsed, i.e. the website displayed in the uniform resource locator (URL) window. These are called first party cookies. Third party cookies are set by a website other than the one you are browsing.</p>
    <p align="justify"><strong>How do we use cookies?</strong></p>
    <ul>
        <li>To help keep our website secure for visitors;</li>
        <li>To personalise the content of our website for visitors. Temporary cookie – used only during your current visit;</li>
        <li>Website analytics;</li>
        <li>To maintain your cookie preferences, to provide services that you request, to provide a secure online environment, to give you a better online experience, to manage your browsing session, to monitor the performance of our website, to help us make our website more relevant to you, to compile statistics and to help us to improve our website and the services we offer.</li>
    </ul>
    <br>
    <p align="justify"><strong>Consent</strong></p>
    <p align="justify">If you continue to use our website we will assume that you are happy to receive all cookies from our website. However, if you would prefer to change your cookie settings, you can do so at any time—see below ‘Controlling our use of cookies’.</p>
    <p align="justify"><strong>Controlling our use of cookies</strong></p>
    <p align="justify">Most browsers automatically accept cookies unless you change your internet browser settings. If you wish to restrict, block or delete the cookies which are set by any websites, you can generally do this through your browser settings. These settings are usually found in the 'options' or 'preferences' menu of your internet browser.</p>
    <p align="justify">If you set your internet browser preferences to block all cookies, you may not be able to access all or parts of our site.</p>
    <p align="justify">If you delete cookies relating to this website we will not remember things about you, including your cookie preferences, and you will be treated as a first-time visitor the next time you visit the site.</p>
    <p align="justify">Queries</p>
    <p align="justify">If you have any questions or comments regarding this Cookie policy, please email <a href="#">hello@westendmarket.com</a>.</p>    

</div>   
{% endblock %}