{% extends 'west_end_market/base.html' %}
{% load staticfiles %}

<!--<title>
    West End Market - 
        {% block title_block %}
            West End Market Defult
        {% endblock %}
</title>-->

{% block body_block %}

<div class="container margin-top-30">
    <h2>Welcome!</h2>
    <h5>Recent Listings:</h5>
    <hr>
    <div class="row">
        <div class="col-md-3">
            <img src="{% static 'images\square300.jpg' %}" class="img-fluid item-box-mobile" alt="square image">
        </div>
        <div class="col-md-3">
            <img src="{% static 'images\square300.jpg' %}" class="img-fluid item-box-mobile" alt="square image">
        </div>
        <div class="col-md-3">
            <img src="{% static 'images\square300.jpg' %}" class="img-fluid item-box-mobile" alt="square image">
        </div>
        <div class="col-md-3">
            <img src="{% static 'images\square300.jpg' %}" class="img-fluid item-box-mobile" alt="square image">
        </div>
    </div>
        <div class="row margin-top-30">
            <div class="col-md-3">
              <img src="{% static 'images\square300.jpg' %}" class="img-fluid item-box-mobile" alt="square image">
            </div>
            <div class="col-md-3">
              <img src="{% static 'images\square300.jpg' %}" class="img-fluid item-box-mobile" alt="square image">
            </div>
            <div class="col-md-3">
              <img src="{% static 'images\square300.jpg' %}" class="img-fluid item-box-mobile" alt="square image">
            </div>
            <div class="col-md-3">
              <img src="{% static 'images\square300.jpg' %}" class="img-fluid item-box-mobile" alt="square image">
            </div>
        </div>
</div>
{% endblock %}