{% extends 'west_end_market/base.html' %}
{% load staticfiles %}


{% block title_block %}
    Login
{% endblock %}

{% block body_block %}
<!--
        {% if user.is_active %}
            <div class="alert alert-success" role="alert">
                You have successfully logged in!
            </div>
        {% else %}
            <div class="alert alert-danger" role="alert">
              Invalid login details supplied!
            </div>
        {% endif %}
-->
        <div>
            <div class="container">
                <h3 class="text-center margin-top-30">Login</h3>
            </div>
            <div class="container">
                <div class="row margin-top-30">
                    <div class="col-md-5  font-weight-bold">
                        <form id="login_form" method="post" action="{% url 'login' %}">
                            {% csrf_token %}
                            <div class="form-group">
                              <label>Username</label>
                              <input type="text" name="username" class="form-control" placeholder="Username">
                            </div>

                            <div class="form-group">
                              <label>Password</label>
                              <input type="password" name="password" class="form-control" placeholder="Password">
                            </div>
                            <div>
                            <label>
                                <input type="checkbox"> Remember me
                            </label>
                            </div>
                            <div>
                                <button type="submit" value="submit" class="btn btn-primary block-button">Login</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-2">
                      <p></p>
                    </div>
                    <div class="col-md-5">
                        <div class="margin-top-30">
							<a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
                            <!--<button class="btn btn-primary desktop-block-button">Login with Facebook</button>-->
                        </div>
                        <div class="margin-top-30">
							<a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a>
                            <!--<button class="btn btn-danger desktop-block-button">Login with Google</button>-->
                        </div>
                    </div>
                </div>
                <div class="margin-top-30">
                <h5 class="text-center">If you do not have an account, <a href="{% url 'register' %}">click here</a> to register</h5>

                </div>
            </div>
        </div>
{% endblock %}