{% extends 'west_end_market/base.html' %}
{% load staticfiles %}


{% block title_block %}
    Login
{% endblock %}

{% block body_block %}
{% if not success %}
    <div class="alert alert-danger" role="alert">
        <span>&#10008; Invalid login details, please try again!</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span class="reduce-size align-text-top" aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}
        <div>
            <div class="container">
                <h3 class="text-center margin-top-30">Login</h3>
            </div>
            <div class="container text-box text-box-mobile col-md-4 font-weight-bold text-center margin-top-20">
                <form id="login_form" method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="form-group padding-box-80 block-button">
                        <label>Username</label>
                        <input type="text" name="username" class="form-control" placeholder="Username">
                    </div>
                    <div class="form-group padding-box-80 block-button">
                        <label>Password</label>
                        <input type="password" name="password" class="form-control" placeholder="Password">
                    </div>
                    <div>
                        <button type="submit" value="submit" class="btn btn-primary block-button">Login</button>
                    </div>
                </form>
                <div class="margin-top-30">
                <h6 class="text-center">If you do not have an account, <a href="{% url 'register' %}">click here</a> to register</h6>
                </div>
            </div>
        </div>
{% endblock %}