{% extends 'west_end_market/base.html' %}
{% load staticfiles %}

{% block title_block %}
    My account
{% endblock %}

{% block body_block %}
<div class="container margin-top-30">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-4 text-center">
                <h3>{{user.username}}</h3>
                <div class="text-center">
                    {% if profile.picture.url %}
                        <img id="id_profile" class="img-thumbnail"  src="{{profile.picture.url}}" alt="image of the item" width=200 height=200>
                    {% else %}
                        <img id="id_placeholder" class="img-thumbnail"  src="{% static 'images/profile.jpg' %}" alt="image of the item" width=200 height=200>
                    {% endif %}
                </div>

                <div class="form-group text-center font-weight-bold ">
                    <label>Profile Picture</label>
                    <br>
                </div>
                <div class="text-center">
                    <a href="{% url 'user_profile' user.username %}"><button class="btn btn-info block-button">My listings</button></a>
                    <a href="{% url 'add_listing' %}"><button class="btn btn btn-info block-button">Create Listing</button></a>
                </div>
            </div>

            <div class="col-md-8">
                <div class="row margin-top-50">
                    <div class="text-box text-box-mobile col-md-9">
                        <div class="row">
                            <span><strong>Username: </strong>{{user.username}}</span>
                        </div>
                        <br>
                        <div class="row">
                            <span><strong>Email address: </strong>{{user.email}}</span>
                        </div>
                        <hr>
                        <div class="row">
                            <span class="text-right"><strong>Total listings: </strong>{{listings|length}}</span>
                            <hr>
                            <a href="{% url 'edit_profile' %}"><button class="btn btn-danger block-button">Edit Profile</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}
