{% extends 'west_end_market/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Register
{% endblock %}

{% block body_block %}
{% if registered %}
    You have successfully created a new account!
    <a href=" {% url 'login' %} ">Click here to login!</a>
{% endif %}
<div class="container margin-top-30">
    <form id="listing_form" method = 'post' enctype="multipart/form-data" action="{% url 'register' %}">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-4">
                <h3>User Registration</h3>
                <div class="text-center">
                    <img id="id_placeholder" class="img-thumbnail"  src="{% static 'images/placeholder.jpg' %}" alt="image of the item" width=200 height=200>
                </div>
                        
                <div class="form-group text-center font-weight-bold ">
                    <label>Upload Image:</label>
                    <input id="id_picture" type="file" name="picture" onchange="readURL(this);">
                    <br>
                </div>
            </div>

            <div class="col-md-8">
                <div>
                {{user_form.errors}}
                {{profile_form.errors}}
            </div>
                <div class="form-group font-weight-bold">
                    <label>Username:</label>
                    <input required id="id_username" type="username" class="form-control font-italic" placeholder="i.e John Mathew" name="username">
                    <p class="text-left helptext">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</p>
                </div>
                <div class="form-group font-weight-bold">
                    <label>Email address:</label>
                    <input required id="id_email" type="email" class="form-control font-italic" placeholder="myusername@gmail.com" name="email">
                </div>
                <div class="form-group font-weight-bold">
                    <label>Password:</label>
                    <input required id="id_password" type="password" class="form-control font-italic" placeholder="Password" name="password">
                </div>
                        
                <div class="text-right">
                    <button class="btn btn-outline-primary" type="submit" value="submit" >Register</button>
                </div>
            </div>
        </div>       
    </form>
    
</div>
<script type="text/javascript">
//previews the photo before upload, called when picture is selected
function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function(e) {
            $('#id_placeholder').attr({'src': e.target.result});
        }

    reader.readAsDataURL(input.files[0]);
  }
}

</script>
{% endblock %}  
