{% extends 'west_end_market/base.html' %}
{% load staticfiles %}

{% block body_block %}
<div class="container">
    <form>
        <div class="row"> 
            <div class="col-md-12">
                <h3>Username's Listings</h3>
            </div>
        </div>
        <div class="margin-top-bottom-10 row"> 
            <div class="col-md-2">
                <div class="text-center">
                    <img src="images/placeholder.jpg" alt="image of the item" width=100 height=100>
                </div>
            </div>    
            <div class="text-box width-100 height-100 col-md-10">
                <p>Item Name:</p>
                <p>Price:</p>
            </div>
        </div>
        <div class="margin-top-bottom-10 row"> 
            <div class="col-md-2">
                <div class="text-center">
                    <img src="images/placeholder.jpg" alt="image of the item" width=100 height=100>
                </div>
            </div>        
            <div class="text-box width-100 height-100 col-md-10">
                <p>Item Name:</p>
                <p>Price:</p>
            </div>
        </div>
        <div class="margin-top-bottom-10 row"> 
            <div class="col-md-2">    
                <div class="text-center">
                    <img src="images/placeholder.jpg" alt="image of the item" width=100 height=100>
                </div>
            </div>        
            <div class="text-box width-100 height-100 col-md-10">
                <p>Item Name:</p>
                <p>Price:</p>
            </div>
        </div>
    </form>
</div>    
{% endblock %}